SUPABASE_URL=https://vdltfjhjakszdbmkptch.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_Pi8g46elQu7ubw6HJqWKLA_1bqxZnz8
PORT=3000

# Optional: set CORS origin for your frontend
FRONTEND_ORIGIN=http://localhost:5173
